<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.dao.UserMapper">
    <!--    查询所有用户信息-->
    <select id="finAll" resultType="com.gao.domain.User">
        SELECT *
        from user;
    </select>
    <!--    保存用户信息-->
    <insert id="saveUser" parameterType="com.gao.domain.User">
      <selectKey keyProperty="id" resultType="int" order="AFTER">
          select last_insert_id();
      </selectKey>
        insert into user (username, birthday, sex, address)
        values (#{username}, #{birthday}, #{sex}, #{address})
    </insert>
    <!--    更新用户信息-->
    <update id="updateUser" parameterType="com.gao.domain.User">
        update user
        set username =#{username},
            birthday=#{birthday},
            sex=#{sex},
            address  = #{address}
        where id = #{id}
    </update>
    <!--    根据id删除用户信息-->
    <delete id="deleteUserById" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>
    <!--    根据id查询用户信息-->
    <select id="findUserById" parameterType="integer" resultType="com.gao.domain.User">
        select *
        from user
        where id = #{id}
    </select>
    <!--    根据用户名模糊查询用户信息-->
    <select id="findUserByName" parameterType="string" resultType="com.gao.domain.User">
        <!-- 模糊查询的第一种方式
        select *
        from user
        where username like #{username}
        -->
        <!-- 模糊查询的第二种方式 -->
        select *
        from user
        where username like '%${value}%'
    </select>
<!--    获取表中数据的总条数-->
    <select id="count" resultType="int">
        select count(*) from user
    </select>
    <!-- 根据queryVo的条件查询用户 -->
    <select id="findByVo" parameterType="com.gao.domain.QueryVo" resultType="com.gao.domain.User">
        SELECT * from user where username like #{user.username}
    </select>
</mapper>
